.userInfoBlockContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .userInfoBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userEditedBlock {
      padding: 60px;
    }
    h4 {
      font-size: 16px;
      font-weight: 600;
      padding-top: 20px;
    }
  }

  .userAvatar {
    width: 130px;
    height: 130px;
  }

  .infoChangedInput {
    display: flex;
    justify-content: space-between;
    min-width: 510px;
    height: 26px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--user-light-grey);
    span {
      font-size: 13px;
      color: var(--user-primary);
    }
  }

  .logout {
    display: flex;
    padding-top: 13px;
    color: var(--warning-color);
  }
}
