@import url(../../style.scss);

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorBlock {
  @include center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.errorNum {
  @include center;
  width: 80px;
  height: 40px;
  font-size: var(--md);
}

.errorText {
  @include center;
  font-size: var(--sm);
  width: 180px;
  height: 20px;
}

.errorLink {
  width: 78px;
  height: 11px;
  font-size: 11px;
  color: var(--user-primary);
  text-decoration: none;
  padding-top: 40px;
}

