<link rel='stylesheet' href='../../modules/chatSearchingInput/chatSearchingInput.scss'/>

<div class='chatSearchContainer'>
    <div class='chatInputIcon'>
        <img src='../../assets/img/searchIcon.svg' alt='search'/>
    </div>
    <label class='chatInputLabel'>
        <input class='chatInputField' type='text' name='name' placeholder='Поиск'/>
    </label>
</div>
