.userAsideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 64px;
  background-color: var(--user-dark-grey);
  border-right: 2px solid var(--user-light-grey);
}
