<link
  rel='stylesheet'
  href='../../shared/userAsideReturn/userAsideReturn.scss'
/>

<div class='userAsideContainer'>
  <a href='/'>
    <img src='../../assets/img/arrowButton.svg' alt='return' />
  </a>
</div>